<div *ngIf="this.news">
    <table class="table table-striped table-inverse table-responsive" >
        <thead class="thead-inverse">
          <tr>
            <th>Titulo</th>
            <th>Imagen</th>
            <th>Resumen</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let n of news.data">
            <td scope="row"> {{ n.title}}</td>
            <td><img class="img-fluid image" src="../../../assets/images/not1.jpg" alt="Imagen noticia"> </td>
            <td>{{ n.resume}} </td>
            <td class="texto" [innerHTML]="n.description"></td>
            <td class="center">
                <fa-icon  [icon]="faEye" class="icono" (click)="verNoticia(n.id)"></fa-icon>
                <br>
                <fa-icon [icon]="faEdit"class="icono" (click)="editarNoticia(n.id)"></fa-icon>
                <br>
                <fa-icon [icon]="faTrashAlt"class="icono" (click)="mostrarDialogoEliminar(n.id)"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="letra" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>