<div class="footer">
    <div class="footer-basic">
      <footer>
        <div class="social">
          <a href="#"><i class="fab fa-twitter-square"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Noticias</a></li>
          <li class="list-inline-item"><a href="#">Criptomonedas</a></li>
          <li class="list-inline-item"><a href="#">Exchanges</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
        </ul>
        <p class="copyright">CryptoNews © 2021</p>
      </footer>
    </div>
  </div>